/* Container for the home page */
.home-container {
  padding: 20px;
  text-align: center;
}

.home-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white; /* Make text white */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
}

/* Individual card styling */
.card {
  width: 100px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Card Grid for 3 rows x 2 columns */
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns */
  grid-template-rows: repeat(3, auto); /* 2 rows */
  gap: 20px; /* Spacing between cards */
  justify-items: center;
  margin-top: 20px;
}



.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #555;
}
